/* 
#81B5F1 rgb(129, 181, 241) blue
#F1BD81 rgb(241, 189, 129) orange
*/

#parallax {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: auto;
     max-width: 100%;
     text-align: center;
     padding-bottom: 0px;
}
#parallax h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 65px;   
}
#logo {
    height: 150px;
    width: 150px;   
}
html, body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    background-color:#1a1a1a;
    width: 100%;
    justify-content: center;
    }
#container {
    background-color: #1a1a1a;
    padding: 0px;
    margin: 0px;
    font-size: larger;
    width: 100%;
}
.intro {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: black;
    height: 110%;
    width: 100%;
}
.intro h2 {
    padding-top: 40px;
    text-align: center;
    color: rgb(129, 181, 241);
}
#milkyWay {
   max-height: 90%;
   max-width: 90%;
   display: block;
   margin: auto;
   animation: breathe 8s infinite alternate;
   object-fit: contain;
   padding-bottom: 5%;
}
@keyframes breathe {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(0.9); 
    }
}

/*This is for the solarsystem orbits*/

.sun {
    width: 100px;
    height: 100px;
    background: radial-gradient(#f09819, #ff512f);
    border-radius: 50%;
    box-shadow: -4px 2px 56px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mercury_orbit {
    width: 150px;
    height: 150px;
  }
  .mercury {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: linear-gradient(#504e51, #97979f, #ceccd1, #b5a7a7);
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
    animation: orbit1 4s linear infinite;
  }
  @keyframes orbit1 {
    from {
      transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(75px) rotate(-360deg);
    }
  }
  .mercury_orbit,
  .venus_orbit,
  .earth_orbit,
  .mars_orbit,
  .jupiter_orbit,
  .saturn_orbit,
  .uranus_orbit,
  .neptune_orbit {
    border: 1px dotted #dd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: transparent;
  }
  .venus_orbit {
    height: 210px;
    width: 210px;
  }
  .venus {
    width: 29px;
    height: 29px;
    background: linear-gradient(#8b91a1, #bbb7ab, #ddd8d4, #efefef);
    border-radius: 50%;
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%, -50%);
    animation: orbit2 8s linear infinite;
  }
  @keyframes orbit2 {
    from {
      transform: rotate(0deg) translateX(105px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(105px) rotate(-360deg);
    }
  }
  .earth_orbit {
    height: 300px;
    width: 300px;
  }
  .earth {
    height: 34px;
    width: 34px;
    background: url("../assets/earth_4k_stock_by_hameed_db5roja-fullview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 44%;
    left: 44%;
    transform: translate(-50%, -50%);
    animation: orbit3 12s linear infinite;
  }
  @keyframes orbit3 {
    from {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
  }
  .moon_orbit {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0.8px dotted #dd9;
    position: relative;
    top: -20%;
    left: -25%;
    background: transparent;
  }
  .moon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: -4px 2px 56px #fff;
    position: absolute;
    top: 42%;
    left: 42%;
    transform: translate(-50%, -50%);
    animation: moon-orbit 4s linear infinite;
  }
  @keyframes moon-orbit {
    from {
      transform: rotate(0deg) translateX(24px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(24px) rotate(-360deg);
    }
  }
  .mars_orbit {
    height: 400px;
    width: 400px;
  }
  .mars {
    height: 23px;
    width: 23px;
    background: linear-gradient(
      #99857a,
      #c6785c,
      #e27b58,
      #ff9d6f,
      #663926,
      #8e6a5a
    );
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    animation: orbit4 11s linear infinite;
  }
  @keyframes orbit4 {
    from {
      transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
  }
  .jupiter_orbit {
    height: 500px;
    width: 500px;
  }
  .jupiter {
    height: 48px;
    width: 48px;
    background: linear-gradient(
      #404436,
      #a79c86,
      #d2cfda,
      #d39c7e,
      #90614d,
      #c88b3a
    );
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 46%;
    transform: translate(-50%, -50%);
    animation: orbit5 6s linear infinite;
  }
  @keyframes orbit5 {
    from {
      transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
  }
  .saturn_orbit {
    height: 630px;
    width: 630px;
  }
  .saturn {
    height: 63px;
    width: 63px;
    background: url("../assets/Transparent_Saturn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    animation: orbit6 12s linear infinite;
  }
  @keyframes orbit6 {
    from {
      transform: rotate(0deg) translateX(315px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(315px) rotate(-360deg);
    }
  }
  .uranus_orbit {
    height: 750px;
    width: 750px;
  }
  .uranus {
    height: 40px;
    width: 40px;
    background: linear-gradient(#d5fbfc, #bbe1e4, #93bbbe, #65868b);
    border-radius: 50%;
    position: absolute;
    top: 47.5%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    animation: orbit7 14s linear infinite;
  }
  @keyframes orbit7 {
    from {
      transform: rotate(0deg) translateX(375px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(375px) rotate(-360deg);
    }
  }
  .neptune_orbit {
    height: 850px;
    width: 850px;
  }
  .neptune {
    height: 38px;
    width: 38px;
    background: linear-gradient(#212354, #3ee4e8, #3e66f9, #6081ff, #89f3ff);
    border-radius: 50%;
    position: absolute;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
    animation: orbit8 17s linear infinite;
  }
  @keyframes orbit8 {
    from {
      transform: rotate(0deg) translateX(421px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(421px) rotate(-360deg);
    }
  }

.modalSS {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modalSS-content {
    position: fixed;
    width: 60%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 20%;
}
.modalSS-content p {
  color: white;
}
#closeSSModal {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 34px;
    color: #F1BD81;
}
.modal-open {
    overflow: hidden;
}
.introText {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 1.1em;
}
.introText p {
    padding-top: 2%;
    padding-left: 3%;
   color: white;
    font-size: larger;
    text-align: left;
}
#sun {
  margin-left: -10%;
  margin-bottom: -1%;
  z-index: 0;
  animation: rotation 350s infinite linear;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
  transform: translateX(-100%); 
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.sunText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sunText button {
    transition: all .1s ease;
    height: 10%px;
    width: 50%;
    margin: 3%;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: #81B5F1;
    color: black;
    font-size: 1rem;
}
.sunText button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,0.3); 
  background-color:rgb(199, 144, 82);
  border-radius: 10px;
  color: white;

}
area {
    cursor: pointer;
}
.galaxyContainer {
    padding: 20px;
    text-align: center;
  }
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 0.5s;
}
.row.appear {
    opacity: 1;
    transform: translateY(0);
  }
.row img{
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(195, 195, 195, 0.3);
}
#galaxyText {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: justify;
    width: 70%;
    height: 12vh;
    background-color: rgba(241, 189, 129, 0.4);
    border-radius: 0px 0px 10px 10px;
}
#galaxyText p {
    width: 90%;
    font-size: 1.2em;

}
h2 {
    color: whitesmoke;
}
.voyagerSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}
#voyagerFirstText {
    margin: 2%;
    padding-top: 2%;
    max-width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color:#333;
}
#voyagerFirst {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#comparisons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #404040;
    margin-bottom: 30px;

}
.distances {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:900 ;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    bottom: 0px;
    width: 25%;
    height: 100;

    position: relative;
}
.distances ::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 10px;
    background: radial-gradient(ellipse at center, rgba(129, 181, 241, 0.2) 1%, rgb(255, 255, 255) 100%);
    bottom: 60px;
    left: 30%; 
    border-radius: 50%;
    padding-bottom: 10px; 
}
.distances p {
  margin-top: 40px;
}
#voyagerModelDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background: linear-gradient(to bottom, white, #81B5F1 30%);
    width: 100%;
    padding-top: 5%;
}
#voyagerFirstText2 {
    margin: 4%;
    max-width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: black;
}
#voyagerModel {
    padding-top: 90px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 90vh;
}
model-viewer {
    width: 100%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    background-size: cover;
  }
  .progress-bar {
    display: block;
    width: 33%;
    height: 10%;
    max-height: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 25px;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .progress-bar.hide {
    visibility: hidden;
    transition: visibility 0.3s;
  }
  
  .update-bar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 0%;
    height: 100%;
    border-radius: 25px;
    float: left;
    transition: width 0.3s;
  }

  @keyframes circle {
    from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
    to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }
  
  @keyframes elongate {
    from { transform: translateX(100px); }
    to   { transform: translateX(-100px); }
  }
  
  model-viewer > #ar-prompt {
    position: absolute;
    left: 50%;
    bottom: 60px;
    animation: elongate 2s infinite ease-in-out alternate;
    display: none;
  }
#modelText {
    font-family: Arial, Helvetica, sans-serif;  
}
#voyagerSecond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.voyager-image-container {
    position: relative;
    margin-bottom: 50px;
    overflow: visible;
}
#voyagerJourney {
  width: 90%;
  margin: auto;
  display: block;
}
#magnifying-glass {
  background-image: url(../assets/10742.jpg);
  position: absolute;
  border: 2px solid rgb(241, 189, 129);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  pointer-events: none;
  display: none;
}
#voyagerSecondText {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 20px;
    margin-bottom: 80px;
}
#planetarium {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 2%;
}
.planetText {
    color: white;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#skyLive {
    width: 70%;
}
#apod-box {
    display: flex;
    height: max-content;
    width: 100%;
}
#APOD {
    color: rgb(44, 44, 44);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke ;
    width: 100%;
    height: 100%;
    padding-bottom: 5%;
}
#boxTitle {
    text-align: center;
    padding: 30px;
}
#apod-image {
    display: block;
    margin: 40px;
    max-width: 800px;
    height: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
H3 {
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;

}
#apod-date{
    text-align: left;
    padding-left: 30px;
    font-size: 12;
    font-style: italic;
    color: #404040;
}
#apod-container {
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    align-items: center;
    width: 90vw;
    height: fit-content;
    background-color: white;
    
}
#apod-description{
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}
#apod-text {
    height: fit-content;
    overflow: auto;
    background-color: white;
    color: black;
    padding-bottom: 30px;
}
#buttonBox {
 display: flex;
 height: fit-content;
 flex-direction: column;
 align-items: center;
}
#apod-box button {
    transition: all .2s ease;
    height: 60px;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    background-color: #81B5F1;
    color: black;
    font-size: 1rem;
    border-width: 0;
}
#apod-box button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,0.3); 
  background-color:rgb(199, 144, 82);
  border-radius: 10px;
  color: white;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
.modal-content {

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    max-height: 100%; /* Limit the maximum height of the modal content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 34px;
    cursor: pointer;
    color: white;
}
/* Style the APOD modal container */
#apod-modal-container {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px 40px;
    text-align: center;
    background-color: white;
}
#apod-modal-image {
    max-width: 60%;
    height: auto;
    object-fit: cover;
    margin: 20px;
    border: 2px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#modalText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#apod-modal-title {
    font-size: 24px;
    margin: 15px 20px;
    color: #333;
    text-align: left;
}
#apod-modal-date {
    font-size: 16px;
    margin: 5px 20px;
    color: #555;
    align-self: flex-start;
}
#apod-modal-description {
    font-size: 18px;
    margin: 20px;
    text-align: left;
    color: #666;
}
#refreshButton {
    margin: 30px;
    align-self: center;
}
#loading-container {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
  }
  #planet {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('../assets/earth_4k_stock_by_hameed_db5roja-fullview.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
    &::before {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      width: 100px;
      height: 100px;
    }
}
@keyframes bounce {
  0% {
    top: 50%;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 50px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 25%;
  }
}
#circle {
  width: 100px;
  height: 100Px;
  border-radius: 50%;
  background-color: white;
  position: inherit;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 9;
}
#nasaResources {
    background-color: white;
    padding-bottom: 50px;
}
#nasaText {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    padding-left: 30px; 
    font-family: Arial, Helvetica, sans-serif;
}
#nasaText H2 {
    margin: 0px;
    margin-bottom: 2%;
    color: black
}
#nasaImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 30px;
    object-fit: cover;
}
.nasa-image {
    transition: transform .2s;
    max-width: 22dvw;
    cursor: pointer;
}
.nasa-image:hover {
    transform:scale(1.1);
    opacity: 90%;
}
footer {
    color: antiquewhite;
    margin-top: 30px;
    height: 30px;
    display: block;
    text-align: center;
}
footer p {
    padding-bottom: 50px;
}
